[submodule "src/ProtonVPN.LocalAgent"]
	path = src/ProtonVPN.LocalAgent
	url = https://github.com/ProtonVPN/go-vpn-lib.git
[submodule "src/proton-vpn-binary-status"]
	path = src/proton-vpn-binary-status
	url = https://github.com/ProtonVPN/proton-vpn-binary-status.git
[submodule "src/proton-rs-srp-cffi"]
	path = src/proton-rs-srp-cffi
	url = https://github.com/ProtonVPN/proton-rs-srp-cffi.git
